
h1, h3 {
    text-align: center;
}

#pagina {
	z-index: 0;
	background-color: #7A80F0;
	width: auto;
	height: auto;
}

#cabecera {
	z-index: 3;
	background-color: #08088A;
	position: fixed; /*  Posicionamiento fijo: variante del posicionamiento absoluto que convierte una caja en un elemento inamovible, de forma que su posición en la pantalla siempre es la misma independientemente del resto de elementos e independientemente de si el usuario sube o baja la página en la ventana del navegador. */
 	top: 0%;
    bottom: 80%;
    right: 0%;
    left: 0%; 
	box-shadow: 0px 0px 20px 3px #2E2EFE;
	border-radius: 4px;
}

#menu {
	background-color: #134DCA;
	position: absolute; /* Posicionamiento absoluto: la posición de una caja se establece de forma absoluta respecto de su elemento contenedor y el resto de elementos de la página ignoran la nueva posición del elemento. */
	top: 80%;
    bottom: 0%;
    right: 0%;
    left: 0%;
}

/*Define el estilo general del menú, y los elementos en condiciones normales. Añade el siguiente código:*/
ul#opcion {
	margin-top:0;
    margin-left: 21%;
    padding-left: 15%;
    list-style-type: none;
}

#opcion li {
    border: #0A44C2 3px solid;
    margin: 0px;
    float: left;
	width: 65px;
	text-align: center;
}	

#opcion a { 
  display: block; 
  text-decoration: none;
  color: #000000;
}
/*Definiremos un estilo distinto que afecte a los elementos de la lista cuando tienen el cursor encima, utilizando la pseudoclase :hover. Añade el siguiente código:*/

#opcion li:hover {
  border-color: #2E5CC1;
  background-color: #6286D3;
}
#opcion li:hover a {
  color: #000;
}

#izquierda {
	z-index: 2;
	background-color: C5CDDF;
	position: fixed;
	top: 20%;
	bottom: 0%;
	right: 85%;
	left: 0%;
}

#derecha {
	z-index: 2;
	background-color: C5CDDF;
	position: fixed; 
	top: 20%;
	bottom: 0%;
	right: 0%;
	left: 85%;
}

#cuerpo {
	z-index: 1;
	/*background-color: #E6E9F0;*/
	background-image: url(imgstyle/fondo.jpg);
	background-size: 100% 100%; /*redimensionado de la imagen de fondo*/
	position: absolute; /* Posicionamiento relativo: variante del posicionamiento normal que consiste en posicionar una caja según el posicionamiento normal y después desplazarla respecto de su posición original. */
	top: 20%;
	left: 15%;
	right: 15%;
	bottom: 0%;
	overflow: auto; /*automatico: elige el navegador si es necesario o no adaptar la div al texto*/
}

#footer {
	z-index: 3;
	background-color: #08088A;
	box-shadow: 0px 4px 20px 3px #2E2EFE;
	border-radius: 4px;
	height: 5%;
}

#buscador {
position: fixed;
right: 1%;
top: 2%;
}

.buscador {
position: fixed;
right: 15%;
top: 0%;
color:red;
font-weight:bold
}



