.pagina{
width: auto;
height: auto;
}
.cabecera{
background:#FF4000;
position:absolute;
left:0%;
right:0%;
top:0%;
bottom:80%;
}
.menu{
background:#0101DF;
left:0%;
right:0%;
position:absolute;
top:75%;
bottom:0%;
}
.cuerpo{
background:#00FF00;
position:absolute;
top:20%;
right:10%;
left:10%;
}
.izquierda{
background:#F6CECE;
position:fixed;
left:0%;
right:90%;
top:20%;
bottom:10%;
}
.derecha{
background:#F6CECE;
position:fixed;
left:90%;
right:0%;
top:20%;
bottom:10%;
}

.footer{
background:#013ADF;
position:fixed;
bottom:0%;
left:0%;
right:0%;
top:90%;
}